Repository 1821-Study/Algorithm-Conquerors, pull requests merged in 2022-01, with the labels that each got.

#3 Feat: Add solution (#2)
  src/220112/BaekJoon/18310/Dltmd202/Main.java
  src/220112/BaekJoon/2309/Dltmd202/main.cpp
Labels: java

#4 FEAT: Add solution (#2)
  src/220112/BaekJoon/18310/SongSiWoon/main.py
Labels: python

#9 Yj010306
  src/220115/bj/yj010306/main.cpp
Labels: C++

#5 Feat: Add solution of #2 - 3
  src/220114/BaekJoon/2309/Kimyeheun/main.py
  src/220115/bj/2444/kimyeheun/main.py
Labels: python

#12 Feat: Add solution of #8
  src/220115/bj/2444/kimyeheun/main.py
Labels: python

#10 Feat: Add solution of #8
  src/220115/BJ/10997/SongSiWoon/main.py
Labels: python

#11 Feat: Add solution of #8
  src/220115/bj/10997/Dltmd202/Main.java
  src/220115/bj/2589/Dltmd202/Main.java
Labels: java

#7 Feat: Add solution of #2
  src/220112/Baekjoon/2309/ahnjongin/main.py
  src/220115/2444/ahnjongin/main.py
Labels: python

#13 Feat: Add solution of #8
  src/BaekJoon/SongSiWoon/10997/Main.java
Labels: java

#18 Feat: Add solution of #14
  src/BaekJoon/SongSiWoon/2448/main.py
Labels: python, SongSiWoon

#16 Feat: Add solution of #14
  src/BaekJoon/kimyeheun/10872/main.py
Labels: python, kimyeheun

#15 Feat: Add solution of #14
  src/BaekJoon/ahnjongin/10872/main.py
Labels: python, ahnjongin

#17 Feat: Add solution of #14
  src/BaekJoon/Dltmd202/2447/Main.java
  src/BaekJoon/Dltmd202/2447/main.py
  src/BaekJoon/Dltmd202/2448/Main.java
Labels: java, Dltmd202

#19 Feat: Add solution of #14
  src/BaekJoon/yj010306/10872/main.cpp
Labels: C++, yj010306

#21 Feat: Add solution of #20
  src/BaekJoon/SongSiWoon/10993/main.py
  src/BaekJoon/SongSiWoon/2447/Main.java
Labels: java, python, SongSiWoon

#25 Feat: Add solution of #20
  src/BaekJoon/Dltmd202/10993/Main.java
Labels: java, Dltmd202

#23 Feat: Add solution of #20
  src/BaekJoon/ahnjongin/10870/main.py
Labels: python, ahnjongin

#24 Feat: Add solution of #20
  src/BaekJoon/yj010306/10870/main.cpp
Labels: C++, yj010306

#22 Feat: Add solution of #20
  src/BaekJoon/kimyeheun/2447/main.py
  src/BaekJoon/kimyeheun/2747/main.py
Labels: python, kimyeheun

#32 Feat: Add solution of #26
  src/BaekJoon/Dltmd202/13164/Main.java
Labels: java, Dltmd202🐒

#31 Kimyeheun
  src/BaekJoon/kimyeheun/11047/main.py
  src/BaekJoon/kimyeheun/2839/main.py
  src/BaekJoon/kimyeheun/5585/main.py
Labels: python, kimyeheun

#27 Feat: Add solution of #26
  src/BaekJoon/sa11k/11047/Main.java
  src/BaekJoon/sa11k/2839/Main.java
  src/BaekJoon/sa11k/5585/Main.java
Labels: java, sa11k

#29 Ahnjongin
  src/BaekJoon/ahnjongin/11047/main.py
  src/BaekJoon/ahnjongin/13164/main.py
Labels: python, ahnjongin

#30 Feat: Add solution of #26
  src/BaekJoon/SongSiWoon/5585/main.py
Labels: python, SongSiWoon🐯

#28 Feat: Add solution of #26
  src/BaekJoon/yj010306/11047/main.cpp
  src/BaekJoon/yj010306/2839/main.cpp
  src/BaekJoon/yj010306/5585/main.cpp
Labels: C++, yj010306

#39 Feat: Add solution of #33
  src/BaekJoon/ahnjongin/1107/main.py
Labels: python, ahnjongin

#34 Feat: Add solution of #33
  src/BaekJoon/Dltmd202/1107/Main.java
  src/BaekJoon/Dltmd202/1799/Main.java
Labels: java, Dltmd202🐒

#36 Feat: Add solution of #33
  src/BaekJoon/sa11k/10870/Main.java
  src/BaekJoon/sa11k/10872/Main.java
  src/BaekJoon/sa11k/2442/Main.java
  src/BaekJoon/sa11k/2798/Main.java
  src/BaekJoon/sa11k/4150/Main.java
Labels: java, sa11k🐣

#35 Feat: Add solution of #33
  src/BaekJoon/SongSiWoon/1018/Main.java
  src/BaekJoon/SongSiWoon/1107/Main.java
  src/BaekJoon/SongSiWoon/1107/main.py
Labels: java, python, SongSiWoon🐯

#37 Kimyeheun
  src/BaekJoon/kimyeheun/1018/main.py
  src/BaekJoon/kimyeheun/1107/main.py
  src/BaekJoon/kimyeheun/2798/main.py
Labels: python, kimyeheun🦝

#38 Feat: Add solution of #33
  src/BaekJoon/yj010306/1018/main.cpp
  src/BaekJoon/yj010306/2798/main.cpp
Labels: C++, yj010306

#42 Feat: Add solution of #40
  src/BaekJoon/SongSiWoon/15664/Main.java
  src/BaekJoon/SongSiWoon/1793/Main.java
  src/BaekJoon/SongSiWoon/9663/Main.java
Labels: java, SongSiWoon🐯

#43 Kimyeheun
  src/BaekJoon/kimyeheun/15649/main.py
  src/BaekJoon/kimyeheun/2839/main.py
Labels: python, kimyeheun🦝

#49 Feat: Add solution of #44
  src/BaekJoon/ahnjongin/1793/main.py
Labels: python, ahnjongin

#48 Add solution of #44
  src/BaekJoon/SongSiWoon/1003/Main.java
  src/BaekJoon/SongSiWoon/1793/Main.java
Labels: java, SongSiWoon🐯

#45 Feat: Add solution of #44
  src/BaekJoon/sa11k/1003/Main.java
  src/BaekJoon/sa11k/10828/Main.java
Labels: java, sa11k🐣

#47 Feat: Add solution of #44
  src/BaekJoon/yj010306/1003/source.cpp
Labels: C++, yj010306

#50 Kimyeheun
  src/BaekJoon/kimyeheun/1003/main.py
Labels: python, kimyeheun🦝

#52 Feat: Add solution of #51
  src/BaekJoon/ahnjongin/9012/main.py
Labels: python, ahnjongin

#55 Feat: Add solution of #51
  README.md
  src/BaekJoon/SongSiWoon/2493/Main.java
  src/BaekJoon/SongSiWoon/9012/Main.java
Labels: java, SongSiWoon🐯

#53 Feat: Add solution of #51
  src/BaekJoon/Dltmd202/2493/Main.java
Labels: java, Dltmd202🐒

#57 Kimyeheun
  src/BaekJoon/kimyeheun/10828/main.py
Labels: python, kimyeheun🦝

#61 Feat: Add solution of #58
  src/BaekJoon/SongSiWoon/13335/Main.java
Labels: java, SongSiWoon🐯

#56 Feat: Add solution of #51
  src/BaekJoon/yj010306/10828/main.cpp
Labels: C++, yj010306

#59 Feat: Add solution of #58
  src/BaekJoon/Dltmd202/13335/Main.java
  src/BaekJoon/Dltmd202/1726/Main.java
Labels: java, Dltmd202🐒

#65 Feat: Add solution of #63
  src/BaekJoon/Dltmd202/1726/Main.java
Labels: java, Dltmd202🐒

#64 Feat: Add solution of #63
  src/BaekJoon/SongSiWoon/1726/Main.java
  src/BaekJoon/SongSiWoon/7576/Main.java
Labels: java, SongSiWoon🐯

#67 Feat: Add solution of #63
  src/BaekJoon/Dltmd202/16938/Main.java
Labels: java, Dltmd202🐒

#70 Feat: Add solution of #68
  src/BaekJoon/Dltmd202/2225/Main.java
Labels: java, Dltmd202🐒

#69 Feat: Add solution of #68
  src/BaekJoon/SongSiWoon/11726/Main.java
Labels: java, SongSiWoon🐯
